<!DOCTYPE html>
<html>
<head>
	<title>Calculator</title>
</head>
<body>
	<h1>Calculator</h1>
	<form action="/calculate" method="post">
		<input type="number" name="first" placeholder="Number 1">
		<input type="number" name="second" placeholder="Number 2">
		<br><br>
		<button type="submit" name="operation" value="+">Addition (+)</button>
		<button type="submit" name="operation" value="-">Subtraction (-)</button>
		<button type="submit" name="operation" value="*">Multiplication (*)</button>
		<button type="submit" name="operation" value="/">Division (/)</button>
	</form>
</body>
</html>
